//******** BULMA ********//

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: rgb(6, 53, 201);
$light-blue: rgb(26, 229, 190);
$light-gray: rgb(242, 242, 242);
$orange: rgb(255, 156, 0);
$yellow: rgb(255, 240, 0);
$purple: rgb(108, 0, 255);
$pink: rgb(255, 0, 126);
$green: rgb(102, 255, 0);

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$primary: $light-blue;
$success: $green;
$link: $blue;
$danger: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light-gray;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";


//******** CUSTOM ********//

*, .input, .button {
  font-weight: 300;
}

div.navbar, .hero {
  background-color: $light-gray;
}

html, body {
  min-height: 100vh;
}

// HOMEPAGE
.title, .subtitle {
  font-family: 'Poiret One', cursive;
}

#logo-title, .home-form-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  .bracket {
    margin: 0 10px;
  }

  .bracket-nav, .bracket-form {
    margin: 0 5px;
  }

}

#logo-title {
  justify-content: center;
}


.hero-body {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
    }

    figure {
      margin: 30px;
    }
  }
}

.logo {
  font-family: 'Poiret One', cursive;
}

img#logo {
  margin-right: 10px;
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1 {
    margin: 20px;
  }

  a:hover {
    color: $light-blue;
  }
}

// CIRCLE PAGE
#send-request {
  width: 100%;
}

.circle-button {
  min-width: 20vw;
}

.circle-level {
  margin: 5px 0;
}

form.form-home {
  b {
    font-weight: bold;
  }
  
  small {
    margin-top: 10px;
    margin-left: 5px;
  }
}

// LOCATION FORMS
form.form-location {
  .all-radio-buttons {
    display: flex;
    flex-direction: row;


    .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .radio-button {
        margin: 5px;
      }
    }
  }

  .cancel-button {
    margin: 0 10px;
  }
}

// MAP PAGE
#map-container {
  padding-top: 0;
  padding-bottom: 5vh;
  max-height: 90vh;
  overflow: hidden;
  button {
    animation: fadein 0.35s ease-in;
  }
}
  
.marker {
  background-image: url("http://www.myiconfinder.com/uploads/iconsets/369f997cef4f440c5394ed2ae6f8eecd.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;  
}

.currentPosition {
  background-color: rgb(26, 229, 190);
  border-radius: 50%;
  border: 2px solid white;
  height: 15px;
  width: 15px;
  animation: pulse 2s linear infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {

  #map-container {
    width: 100%;
  }
}

.accordion-category-image{
  height: 32px;
  width: 32px;
  float:right;
}


.home-columns-register{
  width: 45%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home-modal-title-register{
  padding-right: 0px;
}

.home-columns-login{
  width: 37%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home-modal-title-login{
  padding-right: 0px;
}

// TOASTIFY
.Toastify__toast-body {
  padding-left: 10px;
  color: black;
}

.Toastify__toast.toast {
  border-radius: 2px;
}

.Toastify__progress-bar.toast-progress {
  background: $light-blue;
}


// REDIRECTION PAGE

#redirectlogo{
  height: 20vw;
  width: 20vw;
  margin: 0 auto;
  margin-bottom: 50px;
}

.redirect-link{
  margin-top: 50px;
}

// LOCATION MODAL
.level {
  width: 100%;
}

.modal-subtitle {
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
}

.modal-card-head, .modal-card-body, .modal-card-foot {
  background-color: $light-gray;
  border: none;
}

.location-info {
  margin: 5px 0;
}

// LIST OF LOCATIONS
.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #3273dc;
    color: white;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

#list-Edit-Button{
  height: 10%;
  padding-left: 1.2em;
  margin-top: 1.3em;
}

button.list-button{
  margin-bottom: 0;  
  margin-top: 1.3em;
}

b{
  font-weight: bold;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {

  #map-container {
    width: 100%;
    .level {
      .level-left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .level-item {
          margin: 10px 0px 0px 0px;
        }
      }
      .level-right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .level-item {
          margin: 0px 0px 0px 0px;
        }
      }
    }
  }
}

.accordion-category-image{
  height: 32px;
  width: 32px;
  float:right;
}


.home-columns-register{
  width: 45%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home-modal-title-register{
  padding-right: 0px;
}

.home-columns-login{
  width: 37%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home-modal-title-login{
  padding-right: 0px;
}
