*, .input, .button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.title {
  font-family: 'Poiret One', cursive;
}

#send-request {
  width: 100%;
}

.circle-button {
  min-width: 20vw;
}

.circle-level {
  margin: 5px 0;
}

.field {
  display: flex;
  flex-direction: row;
  min-width: 100%;

  .label, .input {
    margin: 10px;
  }

  .label {
    width: 15vw;
  }

  .control {
    width: 100%;
    display: flex;
    flex-direction: column;

    .input, select, .select {
      width: 100%;
    }
  }

  .all-radio-buttons {
    display: flex;
    flex-direction: row;
  
  
    .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      .radio-button {
        margin: 5px;
      }
    }
  }
}

small.help.is-danger {
    margin-bottom: 10px;
  }
  
.marker {
  background-image: url("http://www.myiconfinder.com/uploads/iconsets/369f997cef4f440c5394ed2ae6f8eecd.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.currentPosition {
  background-color: rgb(26, 229, 190);
  border-radius: 50%;
  border: 2px solid white;
  height: 15px;
  width: 15px;
}

small{
  margin-top: 10px;
  margin-left: 5px;
}

#redirectlogo{
  height: 20vw;
  width: 20vw;
  margin: 0 auto;
  margin-bottom: 50px;
}

.level {
  width: 100%;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #3273dc;
    color: white;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#list-Edit-Button{
  height: 10%;
  padding-left: 1.2em;
  margin-top: 1.3em;
}


b{
  font-weight: bold;
}