#send-request {
  width: 100%;
}

.circle-button {
  min-width: 20vw;
}

.circle-level {
  margin: 5px 0;
}

.field {
  display: flex;
  flex-direction: row;
  min-width: 100%;

  .label, .input {
    margin: 10px;
  }

  .label {
    width: 15vw;
  }

  .control {
    width: 100%;

    .input, select, .select {
      width: 100%;
    }
  }

  .all-radio-buttons {
    display: flex;
    flex-direction: row;
  
  
    .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      .radio-button {
        margin: 5px;
      }
    }
  }
}

small.help.is-danger {
  margin-top: -15px;
  margin-bottom: 10px;
}

.marker {
  background-image: url("http://www.myiconfinder.com/uploads/iconsets/369f997cef4f440c5394ed2ae6f8eecd.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}